.confirm-card {
  max-width: 360px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.confirm-card > ul.buttons {
  display: flex;
  list-style: none;
  padding: 1.8rem;
  margin: 0;
  justify-content: space-evenly;
}
.confirm-card > ul.buttons > li {
  width: 40%;
  border-radius: 0.5rem;
  text-align: center;
}
.confirm-card > ul.buttons > li > a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 0.8rem;
  width: 100%;
  height: 100%;
}
.confirm-card > ul.buttons > li.button-confirm {
  background-color: var(--primary-color);
  color: var(--grey-0);
}
.confirm-card > ul.buttons > li.button-cancel {
  color: grey;
  outline: 2px solid var(--grey-2);
  outline-offset: -2px;
}
.confirm-card > .body {
  padding: 1rem 2rem 1rem 2rem;
  text-align: center;
}
.confirm-card > .body > h2 {
  margin-bottom: 1rem;
}
